html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-text h1 {
  font-size: 100px;
  margin-bottom: 10px;
  color: rgb(221, 124, 124);
}

.centered-text h2 {
  font-size: 30px;
  margin-top: 10px;
  color: rgb(71, 11, 11);
}

.imagen-principal {
  position: relative;
  width: 800px;
  height: 900px; 
  background-size: cover;
}

  .imagen-principal img{
      position: absolute;
      bottom: 50px; 
      right: 15px; 
      width: 150px; 
      height: auto; 
    }

.boton-inicio-link {
  position: absolute;
  bottom: 5px;
  right: 10px;
  padding: 10px 20px;
  color: #97969b;
  text-decoration: wavy;
  border-bottom: #2f068f;
  z-index: 2;
}

   

  .contenedor-gif {
      position: relative;
  }

  .contenedor-gif img {
      opacity: 5; 
  }

  .triangle-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid #8f0808;
      transition: width 2s, height 1s;
  }

  .triangle:hover {
      width: 40px;
      height: 40px;
  }

    .texto-tringulos {
        position: absolute;
        top: 30%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: rgb(128, 118, 118);
        font-weight: bold;
    }

  .personaje-inicio {
      position: relative;    
  }

  .personaje-inicio {
      position: absolute;
      top: 310px;
      left: 450px;
      width: 600px; 
      height: 300px; 
      opacity: calc(0.2);
  }

  .personaje-hallowen {
      position: relative;    
  }

  .personaje-hallowen {
      position: absolute;
      top: 140px;
      left: 450px;
      width: 400px; 
      height: 400px; 
      opacity: calc(0.2);
  }

  .isla-inferno {
      position: relative;    
  }

  .isla-inferno {
      position: absolute;
      top: 400px;
      left: 5px;
      width: 200px;
      height: 200px; 
      opacity: calc(0.3);
  }

  .personaje-guerra {
      position: relative;
      height:auto;
  }

  .personaje-guerra {
      position:absolute;
      top:100px;
      left:1100px;
      width:200px;
      height:auto; 
      opacity:calc(0.2);
  }

  .imagen-calabera {
      position:relative;
      height:auto;    
  }

  .imagen-calabera {
      position:absolute;
      top:470px;
      left:1265px;
      width:100px; 
      height:auto; 
  }

  .signo-orgullo {
     position:relative;
     height:auto;
     opacity:calc(0.2);
  }

  .signo-orgullo {
     position:absolute;
     top:30px; 
     left:100px; 
     width:210px; 
     height:auto; 
     top:10%;
     left:3%;
  }

  .triangle:nth-child(1) {
    top :15%;
    left :30%;
    background-image :url("/imagenesindex2/S%3Fmbolo_del_Pecado_de_Serpiente.webp");
    background-size :cover;

  }

  .triangle:nth-child(2) {
    top :15%;
    left :60%;
  }

  .triangle:nth-child(3) {
    top :38%;
    left :15%;
  }

  .triangle:nth-child(4) {
    top :38%;
    left :76%;
  }

  .triangle:nth-child(5) {
    top :60%;
    left :25%;
  }

  .triangle:nth-child(6) {
    top :60%;
    left :68%;
  }

  .triangle:nth-child(7) {
    top :70%;
    left :45%;
  }